.experiences {
  :global {
    .experience {
      .info {
        margin-top: 10px;
        font-size: 16px;
        .company {
          font-weight: bold;
        }
      }
  
      

      .project {
        margin-top: 10px;
        .name {
          font-size: 16px;
          font-weight: bold;
        }

        .title {
          float: left;
          font-size: 16px;
          margin-right: 20px;
          min-width: 60px;
        } 
        .detail {
          overflow: hidden;
        }
      }

    }
  }
}