.header {
  position: relative;
  :global {
    .header_img {
      position: absolute;
      right: 0;
      width: 200px;
      height: 250px;
      background-color:aqua;
    }
    .name {
      font-size: 24px;
      margin-bottom: 15px;
    }
    ul {
      display: flex;
      li {
        margin-right: 15px;
        padding-right: 10px;
        border-right: solid 1px #999 ;
      }
    }
  }
 
}